@tailwind base;
@tailwind components;
@tailwind utilities;


.skill-item {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
  }
  
  .skill-item:hover {
    transform: scale(1.1);
  }
  